<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.em.employmentmanagements.mapper.MajorNameMapper">
    <select id="findAllMajorName" resultType="com.em.employmentmanagements.po.MajorNamePo">
        SELECT major_name FROM major_name;
    </select>
</mapper>