<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.em.employmentmanagements.mapper.MajorNameMapper">
    <select id="findAllMajorName" resultType="com.em.employmentmanagements.po.MajorNamePo">
        SELECT id,major_name FROM major_name;
    </select>

    <update id="updateMajorName">
        update major_name set major_name=#{majorName} where id=#{id}
    </update>
    <delete id="deletMajorName">
        delete from major_name where id=#{id}
    </delete>
    <insert id="addMajorName">
        insert into major_name values (null ,#{majorName} )
    </insert>

</mapper>