<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.em.employmentmanagements.mapper.UserMapper">

    <insert id="addUser">
        insert into user(username,password,permission,specialty,character_state)
        values (#{username},#{password},'1',#{specialty},#{characterState} )
    </insert>

    <select id="login" resultType="String">
        select permission from user where username=#{username} and password=#{password}
    </select>
    <update id="updatePasswordByname">
        update user set password=#{password} where username=#{username}
    </update>

</mapper>